@use "headerbase" as *;

header .nav-menu .nav-links .about {
  color: #a26028 !important;
}

.main-img {
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: 0;
}

.about-remodeling {
  width: 100%;
  top: 0;
  height: 449.4px;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 141.6px;

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: #1e1e1e;
  }

  p {
    width: 780px;
    flex-wrap: wrap;
    text-align: center;
    font-size: 15px;
    color: #1e1e1e;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1.8;
  }
}

.img-area {
  width: 100%;
  height: 666px;
  position: absolute;
  top: 449.4px;
}

.our-process {
  width: 100%;
  height: 1240px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;

  &-top {
    width: 100%;
    top: 1115.4px;
    height: 400px;
    background-color: #f5f5f5;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    h2 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 40px;
      color: #1e1e1e;
    }

    p {
      display: flex;
      flex-direction: column;
      width: 940px;
      gap: 5px;
    }

    span {
      text-align: center;
      font-size: 15px;
      color: #1e1e1e;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: normal;
    }
  }

  &-bottom {
    width: 100%;
    height: 840px;
    position: absolute;
    top: 1515px;
    z-index: 1;
    display: flex;
    flex-direction: column;

    .process-top {
      width: 100%;
      height: 420px;
      display: flex;

      .process-top-left {
        width: 50%;
        display: flex;

        img {
          width: 50%;
          object-fit: cover;
        }

        .card1 {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #dbdbdb;
          gap: 40px;

          h3 {
            font-size: 22px;
            color: #1e1e1e;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            width: 220px;
            text-align: center;
          }

          p {
            color: #1e1e1e;
            font-size: 15px;
            width: 220px;
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            font-style: normal;
            line-height: 1.8;
          }
        }
      }

      .process-top-right {
        width: 50%;
        display: flex;

        img {
          width: 50%;
          object-fit: cover;
        }

        .card2 {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #dbdbdb;
          gap: 40px;

          h3 {
            font-size: 22px;
            color: #1e1e1e;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            width: 220px;
            text-align: center;
          }

          p {
            color: #1e1e1e;
            font-size: 15px;
            width: 220px;
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            font-style: normal;
            line-height: 1.8;
          }
        }
      }
    }

    .process-bottom {
      width: 100%;
      height: 420px;
      display: flex;

      .process-bottom-left {
        width: 50%;
        display: flex;

        img {
          width: 50%;
          object-fit: cover;
        }

        .card3 {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #dbdbdb;
          gap: 40px;

          h3 {
            font-size: 22px;
            color: #1e1e1e;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            width: 220px;
            text-align: center;
          }

          p {
            color: #1e1e1e;
            font-size: 15px;
            width: 220px;
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            font-style: normal;
            line-height: 1.8;
          }
        }
      }

      .process-bottom-right {
        width: 50%;
        display: flex;

        img {
          width: 50%;
          object-fit: cover;
        }

        .card4 {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #dbdbdb;
          gap: 40px;

          h3 {
            font-size: 22px;
            color: #1e1e1e;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            width: 220px;
            text-align: center;
          }

          p {
            color: #1e1e1e;
            font-size: 15px;
            width: 220px;
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            font-style: normal;
            line-height: 1.8;
          }
        }
      }
    }
  }
}

.our-quality-guarantee {
  width: 100%;
  height: 666px;
  position: absolute;
  top: 2355.4px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;

  h2 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #1e1e1e;
    text-align: center;
    padding: 35px;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    color: #1e1e1e;
    text-align: center;
    width: 945px;
    line-height: 1.8;
  }
}

.get-a-free-estimate {
  width: 100%;
  height: 340px;
  position: absolute;
  top: 3021.4px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;

  h2 {
    color: #f5f5f5;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
  }

  button {
    width: 173px;
    height: 40px;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;

    a {
      text-decoration: none;
      color: #1e1e1e;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: normal;

      &:hover {
        color: #a26028;
      }
    }
  }
}

footer {
  height: 169px;
  background-color: #f5f5f5;
  width: 100%;
  position: absolute;
  top: 3361.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 450px;
  padding-bottom: 15px;

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    color: #1e1e1e;

    a {
      color: #1e1e1e;
    }
  }

  .social-links {
    display: flex;
    gap: 10px;

    img {
      width: 23px;
      height: 23px;
    }
  }
}

@media (max-width: 950px) {
  .main-img {
    width: 100% !important;
    object-fit: cover;
    position: absolute;
    top: 449.4px;
    height: 666px;
    object-fit: cover;
    z-index: 1;
  }

  .about-remodeling {
    position: none;
    padding: 20px;
    padding-top: 141.6px;
    h1 {
      font-size: 35px;
    }

    p {
      width: 100%;
    }
  }

  .img-area {
    display: none;
  }

  .our-process {
    height: 1500px;

    &-top {
      width: 100%;
      top: 1115.4px;
      height: 300px;
      padding: 20px;
      gap: 20px;

      h2 {
        font-size: 25px;
      }

      p {
        width: 100%;
      }
    }

    &-bottom {
      height: 1200px;
      top: 1415.4px;
    }
    .process-top {
      width: 100%;
      height: 600px;
      display: flex;

      .process-top-left {
        width: 50%;
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .card1 {
          width: 100%;
          height: 300px;
          padding: 30px;

          h3 {
            width: 100%;
          }

          p {
            width: 100%;
          }
        }
      }

      .process-top-right {
        width: 50%;
        display: flex;
        flex-direction: column-reverse;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .card2 {
          width: 100%;
          height: 300px;
          padding: 30px;

          h3 {
            width: 100%;
          }

          p {
            width: 100%;
          }
        }
      }
    }

    .process-bottom {
      width: 100%;
      height: 600px;
      display: flex;

      .process-bottom-left {
        width: 50%;
        display: flex;
        flex-direction: column-reverse;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .card3 {
          width: 100%;
          height: 300px;
          padding: 30px;
          h3 {
            width: 100%;
          }

          p {
            width: 100%;
          }
        }
      }

      .process-bottom-right {
        width: 50%;
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          object-fit: cover;
          height: 300px;
        }

        .card4 {
          width: 100%;
          display: flex;
          height: 300px;
          padding: 30px;

          h3 {
            width: 100%;
          }

          p {
            width: 100%;
          }
        }
      }
    }
  }

  .our-quality-guarantee {
    top: 2615.4px;
    height: 685px;
    padding: 0 20px;

    h2 {
      font-size: 35px;
      padding: 25px;
    }

    p {
      width: 100%;
    }
  }

  .get-a-free-estimate {
    top: 3300px;
  }

  footer {
    top: 3631.4px;
  }
}

@media (max-width: 650px) {
  .main-img {
    height: 300px;
  }

  .about-remodeling {
    height: 444, 53px;
    gap: 15px;
    padding-top: 98.8px;

    h1 {
      width: 147px;
      font-size: 24px;
    }

    p {
      width: 275, 1px;
      font-size: 14px;
    }
  }

  .our-process {
    height: 1803.7px;
    top: 744.53px;

    &-top {
      top: 744.53px;
      height: 230px;
      gap: 15px;

      h2 {
        font-size: 24px;
      }

      p {
        width: 280px;
        gap: 5px;
      }

      span {
        font-size: 14px;
      }
    }

    &-bottom {
      height: 1573.7px;
      top: 974.53px;
    }

    .process-top {
      width: 100%;
      height: 777.35px;
      display: flex;
      flex-direction: column;

      .process-top-left {
        width: 100%;
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          height: 219px;
          object-fit: cover;
        }

        .card1 {
          width: 100%;
          height: 160px;
          padding: 30px;
          gap: 10px;

          h3 {
            width: 100%;
            font-size: 18px;
          }

          p {
            width: 257px;
          }
        }
      }

      .process-top-right {
        width: 100%;
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          height: 213px;
          object-fit: cover;
        }

        .card2 {
          width: 100%;
          height: 185.35px;
          padding: 30px;
          gap: 10px;

          h3 {
            width: 100%;
            font-size: 18px;
            width: 205px;
          }

          p {
            width: 257px;
          }
        }
      }
    }

    .process-bottom {
      width: 100%;
      height: 777.35px;
      display: flex;
      flex-direction: column;

      .process-bottom-left {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        img {
          width: 100%;
          height: 238px;
          object-fit: cover;
        }

        .card3 {
          width: 100%;
          height: 160px;
          padding: 30px;
          gap: 10px;

          h3 {
            width: 100%;
            font-size: 18px;
          }

          p {
            width: 257px;
          }
        }
      }

      .process-bottom-right {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        img {
          width: 100%;
          height: 213px;
          object-fit: cover;
        }

        .card4 {
          width: 100%;
          height: 185.35px;
          padding: 30px;
          gap: 10px;

          h3 {
            width: 120px;
            font-size: 18px;
          }

          p {
            width: 280px;
          }
        }
      }
    }
  }
  .our-quality-guarantee {
    height: 1220px;
    top: 2549px;
    gap: 20px;
    padding-top: 0;

    h2 {
      font-size: 24px;
      width: 279px;
      margin: 28px 20px;
      margin-bottom: 0;
      padding: 0;
    }

    p {
      width: 280px;
      line-height: 1.8;
    }
  }

  .get-a-free-estimate {
    height: 232.75px;
    top: 3775px;
    gap: 10px;

    h2 {
      font-size: 22px;
    }
  }

  footer {
    top: 3982px;
  }
}
