@use "headerbase" as *;

header .nav-menu .nav-links .contact {
  color: #a26028 !important;
}

body {
  background-color: #f5f5f5;
}

.fillout-form {
  width: 100%;
  margin-top: 135px;
  height: 680px;
  background-color: #f5f5f5;
  padding: 45px;
  display: flex;

  &-left {
    display: flex;
    flex-direction: column;
    width: 50%;

    h2 {
      color: #1e1e1e;
      font-size: 40px;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
      width: 346px;
      line-height: 1.4;
      margin-top: 70px;
      margin-left: 95px;
    }

    .fillout {
      font-size: 15px;
      color: #1e1e1e;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: normal;
      width: 370px;
      margin-left: 95px;
    }

    .span1 {
      margin-top: 35px;
      margin-bottom: 5px;
    }

    .span2 {
      margin-bottom: 35px;
    }

    .span3 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 5px;
    }

    .span4 {
      margin-bottom: 30px;
    }

    .span5,
    .span6 {
      margin-bottom: 25px;
    }
  }

  &-right {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 35px;

    form {
      width: 482px;
      height: 592px;
      padding: 24px;
      display: flex;
      flex-direction: column;

      label {
        font-size: 15px;
        color: #1e1e1e;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
        padding-top: 20px;
        padding-bottom: 8px;
      }

      input {
        background-color: #f5f5f5;
        border: none;
        border-bottom: 1px solid #1e1e1e;
        height: 40.8px;

        &:focus {
          outline: none;
        }
      }

      .form-top {
        display: flex;
        justify-content: space-between;

        .form-top-left {
          width: 49%;
          display: flex;
          flex-direction: column;

          #first-name {
            width: 211px;
            height: 40.8px;
          }

          #email {
            width: 211px;
            height: 40.8px;
          }
        }

        .form-top-right {
          width: 49%;
          display: flex;
          flex-direction: column;

          #last-name {
            width: 211px;
            height: 40.8px;
          }

          .phone-input-area {
            position: relative;
            width: 211px;
            height: 40.8px;

            svg {
              position: absolute;
              color: #1e1e1e;
              bottom: 10px;
              left: 12px;
            }

            .phone1 {
              width: 52px;
              margin-right: 12px;
              height: 40px;
              background-color: #f5f5f5;
              color: #1e1e1e;
              border: none;
              border-bottom: 1px solid #1e1e1e;

              &:focus {
                outline: none;
              }

              option {
                background-color: #f5f5f5;
                color: #1e1e1e;
                height: 20px;
              }
            }

            #phone {
              width: 159px;
              height: 40px;
              position: absolute;
              right: 0;
            }
          }
        }
      }

      .form-bottom {
        display: flex;
        flex-direction: column;

        textarea {
          background-color: #f5f5f5;
          border: none;
          border-bottom: 1px solid #1e1e1e;
          resize: vertical;

          &:focus {
            outline: none;
          }
        }
      }

      button {
        width: 434px;
        height: 38.8px;
        background-color: #1e1e1e;
        border: none;
        padding: 11px 15px;
        font-size: 14px;
        color: #f5f5f5;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
        margin-top: 20px;
        cursor: pointer;

        &:hover {
          background-color: #a26028;
          transition: 0.3s;
        }
      }
    }
  }
}

@media (max-width: 1021px) {
  .fillout-form {
    padding: 0;

    &-left {
      h2 {
        font-size: 25px;
        width: 90%;
        margin-top: 30px;
        margin-left: 55px;
      }

      .fillout {
        width: 90%;
        margin-left: 55px;
      }
    }

    &-right {
      margin-top: 0;

      form {
        width: 90%;
        height: 592px;
        padding: 15px;

        label {
          font-size: 14px;
          padding-top: 10px;
          padding-bottom: 0;
        }

        input {
          border: none;
          border-bottom: 1px solid #1e1e1e;
          height: 40.8px;

          &:focus {
            outline: none;
          }
        }

        .form-top {
          .form-top-left {
            #first-name {
              width: 100%;
            }

            #email {
              width: 100%;
            }
          }

          .form-top-right {
            #last-name {
              width: 100%;
            }

            .phone-input-area {
              width: 100%;

              svg {
                left: 0;
              }

              .phone1 {
                width: 24%;
              }

              #phone {
                width: 76%;
              }
            }
          }
        }

        button {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 675px) {
  .fillout-form {
    width: 100%;
    height: 1030px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &-left {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 20px;
      height: 380px;

      h2 {
        font-size: 24px;
        width: 209px;
        line-height: 1.4;
        margin-top: 0;
        margin-left: 0;
      }

      .fillout {
        font-size: 14px;
        width: 272px;
        margin-left: 0;
      }

      .span1 {
        margin-top: 15px;
        margin-bottom: 5px;
      }

      .span2 {
        margin-bottom: 30px;
      }

      .span3 {
        margin-bottom: 5px;
      }

      .span4 {
        margin-bottom: 15px;
      }

      .span5,
      .span6 {
        margin-bottom: 15px;
      }
    }

    &-right {
      width: 100%;
      height: 650px;
      display: flex;
      justify-content: center;
      margin-top: 0;
      padding: 24px;

      form {
        width: 100%;
        height: 650px;
        padding: 0;
        display: flex;
        flex-direction: column;

        .form-top {
          display: flex;
          justify-content: center;
          flex-direction: column;

          .form-top-left {
            width: 100%;
            display: flex;
            flex-direction: column;

            #first-name {
              width: 100%;
              height: 40.8px;
            }

            #email {
              width: 100%;
              height: 40.8px;
            }
          }

          .form-top-right {
            width: 100%;
            display: flex;
            flex-direction: column;

            #last-name {
              width: 100%;
              height: 40.8px;
            }

            .phone-input-area {
              position: relative;
              width: 100%;
              height: 40.8px;

              svg {
                position: absolute;
                bottom: 10px;
                left: 10px;
              }

              .phone1 {
                width: 18%;
                margin-right: 12px;
                height: 40px;
                border: none;
                border-bottom: 1px solid #1e1e1e;

                &:focus {
                  outline: none;
                }

                option {
                  height: 20px;
                }
              }

              #phone {
                width: 82%;
                height: 40px;
                position: absolute;
                right: 0;
              }
            }
          }
        }

        .form-bottom {
          display: flex;
          flex-direction: column;

          textarea {
            background-color: #f5f5f5;
            color: #1e1e1e;
            border: none;
            border-bottom: 1px solid #1e1e1e;
            resize: vertical;

            &:focus {
              outline: none;
            }
          }
        }

        button {
          width: 100%;
        }
      }
    }
  }
}
